<div class="container mt-3 w-75 bg-white p-3 border rounded">
  <span class="text-center">@Html.Raw(TempData["alertMessage"])</span>
  <h1 class="h2">Welcome to the Dojo Activity Page!</h1>
  <p>Idk why people always say i look like bowser</p>
</div>
